/* Style for the main container */
body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

/* Style for the search box container */
form {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Style for the search boxes and labels */
.radio-option {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

label {
    font-size: 16px;
    margin-left: 10px;
}

input[type="radio"] {
    margin-right: 10px;
}

input[type="text"] {
    padding: 10px;
    width: 300px;
    font-size: 16px;
    margin: 5px 0;
}

/* Style for the comparison search boxes */
#compare-stocks-search {
    display: none;
}

/* Style for the submit button */
button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #350de9;
    color: #ffffff;
    border: none;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #0056b3;
}

/* Style for search results */
h2 {
    margin-top: 30px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    font-size: 18px;
    margin-bottom: 10px;
}
